snippet ero
	export default Ember.Route.extend({
		${1}
	});

snippet eac
	export default Ember.ArrayController.extend({
		${1}
	});

snippet eoc
	export default Ember.ObjectController.extend({
		${1}
	});

snippet erun
	Ember.run( function() {
		${1}
	});

snippet ecp
	${1}: function() {
		${3}
	}.property(${2})
